#b-img {
    background:url(https://t3.ftcdn.net/jpg/05/00/34/58/360_F_500345899_4OqmtspFst6SRnNQvLj7h7TfKOrBwTer.jpg)
}
body{

    background: url('https://wallpaperaccess.com/full/2484218.jpg');
    
}
.wall{
    color: white;
}

.col{
    color:red;
}


